html{
    scroll-behavior: smooth;
    transition-duration: 2s;
}

a{
    text-decoration: none;
    color: #000000;
}


@media screen and (max-width: 600px){
    .navbar a {
        float: none;
        width: 100%;
    }
}

.nav-links{
    display: block;
    height: 300px;
}

.navbar{
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    font-family: 'Lato';
}

.navbar ul{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    font-family: 'Montserrat';
    font-size: 14px;
}

.navbar ul li{
    margin: 5px;
    padding: 5px;
    width: 10%;
    font-weight: bolder;
}


/*showcase display = "HOME"
includes the "Florida State University Online ACM Club & "Join" button*/
.showcase {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: url('img/FSU-logo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #eeeeee;
    background-size: contain;
    height: 70vh;
    text-align: center;
    font-family: 'Archivo Black';
    font-size: 24px;
}

.join-button{
    background-color: #782f40;
    border-radius: 12px;
    font-size: 16px;
    font-family: 'Archivo Black';
    color: #ffffff;
    margin: 0;
    padding: 20px;
    width: 20vw;
    text-align: center;
}

/*UPCOMING EVENTS*/
.events-upcoming{ /*flexbox*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25%;
    padding: 2%;
}

#events-upcoming-title{
    font-family: 'Archivo Black';
    font-size: 24px;
}

#events-upcoming-img img{
    width: 75%;
    height: 75%;
}

#events-upcoming-details{
    font-family: 'Montserrat';
    font-size: 16px;
}

/*ARCHIVED POSTS*/

#events-archives{
    margin: 0;
    padding: 20px;
    width: auto;
    height: auto;
    text-align: center;
    font-family: 'Archivo Black';
    font-size: 20px;
}

.events-archives-scroll{
    display: flex;
    flex-direction: row;
    justify-content: left;
    overflow-x: scroll;
    overflow-y: hidden;
    width: auto;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}

#archived-post{
    margin: 10px;
    padding: 10px;
    border: 1px solid #000000;
    font-family: 'Montserrat';
    font-size: 12px;
    width: 100%;
    height: auto;
}
#archived-post img{
    width: 20vh;
    height: auto;
    margin: 0;
    padding: 0;
}


/*ABOUT section*/
/*JOIN section*/
.about, .join{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: #eeeeee url('img/FSU-logo.png') no-repeat fixed center;
    background-size: contain;
    font-family: 'Archivo Black';
    font-size: 20px;
    margin-top: 25%;
    padding: 20px 10px;
}

#about-text p, #join-text p{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat';
    font-size: 14px;
    text-align: justify;
}


/*LEADERSHIP section*/

.leadership{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: 'Archivo Black';
    font-size: 20px;
}

#leadership-list{
    overflow: hidden;
    width: 85%;
    height: 50%;
}

.leadership-2020{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-evenly;
}

.leadership-2021{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-evenly;
}

#leadership-year-tile{
    width: 150px;
    height: 150px;
    margin: 5px;
    padding: 2px;
    background: #782f40;
}

#leadership-year-tile p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Archivo Black';
    font-size: 30px;
    color: #ffffff;
}

#clubleader img{
    width: 150px;
    height: 150px;
    margin: 5px;
    padding: 2px;
}

#clubleader p{
    font-family: 'Montserrat';
    font-size: 12px;
}

/*JOIN section*/
#join-title{
    font-family: 'Archivo Black';
    font-size: 18px;
    margin: 0;
    padding: 0;
}


/*"Powered by FSU OACM Club Members"*/
footer{
    text-align: center;
    margin: 5px;
    padding: 5px;
    background-image: url('img/FSU-seal.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position:top;
    background-color: #782f40;
    font-family: 'Montserrat';
    font-size: 12px;
}